/**** GENERAL ****/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}
html, body {
    width: 100%;
    height: 100%;
    -webkit-perspective: 1500px;
    perspective: 1500px;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    background-color: #888888;
}
.content-wrapper {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.content-wrapper--open {
    -webkit-transform: translate3d(0, 0, -300px);
    transform: translate3d(0, 0, -300px);
}
#overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 50;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}

/**** HEADER ****/
header {
    height: 64px;
    line-height: 64px;
    padding-left: 64px;
    background-color: #9C27B0;
    position: relative;
}
header h1 {
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 300;
    display: inline-block;
}
#sidebar__button {
    position: absolute;
    right: 32px;
    top: 18px;
    height: 28px;
    padding: 0 8px;
    background: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 4px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8em;
    cursor: pointer;
    -webkit-appearance: none;
}
#sidebar__button:focus, #sidebar__button:hover {
    outline: none;
    outline-style: none;
    border-color: #DDDDDD;
    color: #DDDDDD;
}

/**** MAP ****/
#map {
    width: 100%;
    height: calc(100% - 64px);
}
.map__zoomControl {
    background-color: #EEEEEE;
    border: 1px solid #E0E0E0;
    color: #888888;
    width: 32px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    text-align: center;
    font-size: 0.81em;
    font-family: "FontAwesome";
    user-select: none;
}
#borough {
    position: absolute;
    left: 0;
    top: 64px;
    display: inline-block;
    width: 320px;
    height: 32px;
    line-height: 32px;
    background-color: #CE93D8;
    color: rgba(0,0,0,0.4);
    padding-left: 8px;
    z-index: 40;
}
#borough p {
    color: #222222;
    width: auto;
    display: inline;
}

/**** SIDEBAR ****/
#sidebar {
    width: 320px;
    height: 100%;
    position: absolute;
    right: -320px;
    top: 0;
    z-index: 51;
    background-color: #AB47BC;
    color: rgba(0,0,0,0.6);
}
#sidebar__title {
    height: 64px;
    line-height: 64px;
    padding-left: 16px;
    color: rgba(0,0,0,0.4);
    font-weight: 300;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}
#sidebar__title i {
    padding: 0 8px;
    font-size: 1.2em;
}
#sidebar h3 {
    margin-top: 32px;
    padding-left: 8px;
    font-weight: 300;
    font-size: 0.9em;
    text-transform: uppercase;
}
#sidebar input[type="text"] {
    width: 300px;
    display: inline-block;
    height: 32px;
    color: rgba(0,0,0,0.6);
    margin-left: 10px;
    background-color: #CE93D8;
    border-radius: 0;
    border: 1px solid #7B1FA2;
}
.settings__switch {
    height: 40px;
    line-height: 40px;
    position: relative;
    padding-left: 16px;
    font-size: 0.85em;
}
input[type="checkbox"] {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
input[type="checkbox"] + label {
    display: block;
    position: absolute;
    top: 4px;
    right: 16px;
    cursor: pointer;
    outline: none;
    user-select: none;
    padding: 2px;
    width: 56px;
    height: 32px;
    background-color: #7B1FA2;
    border-radius: 30px;
    transition: background 0.4s;
}
input[type="checkbox"] + label:before, input[type="checkbox"] + label:after {
    display: block;
    position: absolute;
    content: "";
}
input[type="checkbox"] + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #AB47BC;
    border-radius: 32px;
    transition: background 0.4s;
}
input[type="checkbox"] + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 24px;
    background-color: #7B1FA2;
    border-radius: 30px;
    transition: margin 0.4s, background 0.4s;
}
input[type="checkbox"]:checked + label {
  background-color: #CE93D8;
}
input[type="checkbox"]:checked + label:after {
  margin-left: 24px;
  background-color: #CE93D8;
}

/**** MEDIA QUERIES ****/